head
  title Counterstike
  link(rel='stylesheet' href='../../stylesheets/style.css')

h1 CounterStrike Esports
.grid-container
  .item1
    h2 Fanatic
    img(src='https://eui6dii703-flywheel.netdna-ssl.com/wp-content/uploads/2019/02/Fnatic_logo.png')
    p(class='scoreFanatic') Score
  .item2
    h2 Mousesports
    img(src='https://pbs.twimg.com/profile_images/1352241824778379267/bPY_Ca7W.png')
    p(class='scoreMousesports') Score
  .item3
    h2 Astralis
    img(src='https://esportsclubprod.blob.core.windows.net/media/2265/astralis.png')
    p(class='scoreAstralis') Score
  .item4
    h2 G2
    img(src='https://gaimer.net/wp-content/uploads/2019/03/g2.png')
    p(class='scoreG2') Score
        
script(src="/primus/primus.js") 
script(src="/javascripts/index.js")